body {
    background: #8db8c7;
}

body header {
    font-size: 25px;
    color: rgb(98, 43, 226);
}

.mainHeader {
    color: cyan;
    background: navy;
}

.sectionHeader {
    color: white;
    font-size: 30px;
}

.menuHeader {
    color: darkgrey;
    background: aquamarine;
}

.headerLink {
    color: black;
    font-size: 20px;
}

.article {
    background: lightpink;
}

.mainSection {
    font-size: 20px;
}

.h4 {
    color: rgb(207, 38, 193);
}

.paragraph {
    color: darkblue;
}

#oMnie {
    background: hotpink;
}